<% if flash[:danger].present? %>
  <div style="background-color: #ef7351;padding: 15px;border-radius: 5px;">
  	<div class="col-md-2"></div>
  	
   	<div class="row">
      <% flash[:danger].each do |colmun, message| %>
        <p style="color: white"><i class="fa fa-exclamation" aria-hidden="true"></i> <%= colmun %>: <%= message[0] %></p>
      <% end %>
    </div>
  </div>
<% end %>
<% if flash[:success].present? %>
  <div style="background-color: #3EA186;padding: 15px;border-radius: 5px;">
  	<div class="col-md-2"></div>
  	<div class="row">
      <p style="color: white"><i class="fa fa-check" aria-hidden="true"></i> <%= flash[:success] %></p>     
    </div>
  </div>
<% end %>
<% if flash[:error].present? %>
  <div style="background-color: #ef7351;padding: 15px;border-radius: 5px;">
    <div class="col-md-2"></div>
    <div class="row">
      <p style="color: white"><i class="fa fa-exclamation" aria-hidden="true"></i> <%= flash[:error] %></p>     
    </div>
  </div>
<% end %>
<br>