<div class="container" id="div2" style="width: 950px;">
	<div class="modal-content"> 
		<div class="modal-header" style="margin-left: 100px;">
			<form>
	    	<div class="col-xs-8">
			  	Faleminderit per kontributin tuaj vazhdo me regjistrimin e librave
			  </div>
			  <div class="col-xs-4">
			  	<div >	
				  	<%= link_to items_give_books_path, class: "btn btn-info" do %>
				  		Vazhdo regjistrimin <i class="fa fa-arrow-right" aria-hidden="true"></i>
				  	<% end %>			       
				  </div>
			  </div>
			</form>
	  </div>	

	  </div> 
</div>

