<div class="container" id="div1" style="width: 950px;">
	<div class="modal-content">
		
		<div class="modal-header">
			<h4 class="modal-title">Mundesia per regjistrim</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 text-center" style="border-bottom: 1px solid brown">
					<p>Manuali se si duhet vepruar per pranimin e kodit <br>
						Posht shihen dy menyrat per Kosove dhe Shqiperi ndiqni hapat ne vijim <br>
						Pasi te keni perfunduar hapat ne vijin ne numrin tuaj te telefonit do te ju dergohet nje kode <br>
					me te cilin mund te beni regjistrimin tuaj.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 text-center" style="border-right: 1px solid brown">
					<h3> Kosove </h3><br>
					<h4><%= image_tag "vala.png", style: "width: 200px;height: 130px;" %></h5><br>
					<p style="text-align: center;border-bottom: 1px solid #a9bcca">Instrukcionet për të transferuar kredine prej kontos së juaj me parapagim në një konto tjetër me parapagim: <br><br>Shtypni si në vijim: <b style="color:red"> *121*44xxxxxx*1*00000# </b> dhe konfirmojeni duke shtypur butonin për thirrje.</p><br>
					<p style="color: red;background-color: #a9c3db">Pasi transaksioni te jete kryer me sukses ne numrin e sakte do te pranoni kodin per regjistrim</p>
				</div>
				<div class="col-md-6 text-center">
					<h3> Shqiperi </h3><br>
					<h5>Vodafone</h5><br>
					<p style="text-align: center"><b style="color:green">http://www.vodafone.al/ </b></p><br>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<%= form_tag items_sell_books_path, method: :get do %>
				<div class="col-md-12">
				 	<% unless $code_status == true %>
				  		<%= text_field_tag :code, "",class: 'form-control pull-right', style: "width:180px;", placeholder: "Shkruani kodin*", required: true  %>
				  	<% end %>
				  </div>
				  <div class="col-md-12" style="margin-top: 15px;">
				  	<%= button_tag(type: 'submit', class: "btn btn-info pull-right") do %>
								Vazhdo regjistrimin <i class="fa fa-arrow-right" aria-hidden="true"></i>
					<% end %>
				</div>				
			<% end %>
		</div>
	</div>
</div>