<br><br>
<div class="container">
	<div class="modal-content">
	  
		<div class="modal-header">
	    <h4 class="modal-title">Mundesia per regjistrim</h4>
	  </div>

	  <div class="modal-body">
	    <div class="row">
			  <div class="col-md-12 text-center" style="border-bottom: 1px solid brown">
			  	<p>Manuali se si duhet vepruar per pranimin e kodit <br>
			  	Posht shihen dy menyrat per Kosove dhe Shqiperi ndiqni hapat ne vijim <br>
			  	Pasi te keni perfunduar hapat ne vijin ne numrin tuaj te telefonit do te ju dergohet nje kode <br>
			  	me te cilin mund te beni regjistrimin tuaj.</p>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-6 text-center" style="border-right: 1px solid brown">
			  	<h3> Kosove </h3><br>
			  	<h4>Vala 900</h5><br>

			  	<p style="text-align: center;border-bottom: 1px solid #a9bcca">Instrukcionet për të transferuar kredine prej kontos së juaj me parapagim në një konto tjetër me parapagim: <br><br>Shtypni si në vijim: <b style="color:red"> *121*44xxxxxx*1*00000# </b> dhe konfirmojeni duke shtypur butonin për thirrje.<br><br> Do te merrni një porosi konfimimi për të autorizur këtë transfer. Nese informata është në rregull atëherë, konfirmojeni. Do të merrni prapë një porosi për transfer të kredisë me sukses.</p><br>

			  	<h4>IPKO</h5><br>

			  	<p style="text-align: center;border-bottom: 1px solid #a9bcca">Udhezimet për të transferuar kredine prej kontos tuaj me parapagim në një konto tjetër me parapagim:<br><br>
					Hapi 1:<br>
					Shtypni si në vijim: <b style="color:red">  *124*1*049xxxxxx# </b> dhe konfirmojeni duke shtypur butonin për thirrje.
					<br><br>Hapi 2:<br>
					Do të merrni një porosi konfirmimi për të autorizur këtë transfer. Nëse informata është në rregull atëherë,<br><br> konfirmojeni duke shkruar *124#. Do të merrni prapë një porosi për transfer të kredisë me sukses.
					</p><br>
			  	<p style="color: red;background-color: #a9c3db">Pasi transaksioni te jete kryer me sukses ne numrin e sakte do te pranoni kodin per regjistrim</p>
			  </div>
			  <div class="col-md-6 text-center">
			  <h3> Shqiperi </h3><br>
			  	<h5>Vodafone</h5><br>

			  	<p style="text-align: center"><b style="color:green">http://www.vodafone.al/ </b></p><br>
				</div>
			</div>
	  </div>

	  <div class="modal-footer">	
	  	<%= link_to new_item_path, class: "btn btn-info" do %>
	  		Vazhdo regjistrimin e librave tuaj >
	  	<% end %>			       
	  </div>

	</div>
</div>