
<!-- Header bradcrumb -->
<header class="bread_crumb">
  <div class="pg_links">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="lnk_pag"><a href="index.html"> Ballina </a> </p>
          <p class="lnk_pag"> / </p>
          <p class="lnk_pag"> Kontakti </p>
        </div>
        <div class="col-md-6 text-right">
          <p class="lnk_pag">
            <%= link_to "Kthehu te ballina" , root_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="spacer-60"></div>
<div class="container">
  <div class="row">
    <!-- Contact Section -->
    <section id="contact_sec" class="col-md-8">
      <!-- Contact form -->
      <div class="row">
        <div class="titl_sec">
          <div class="col-lg-12">
            <h3 class="main_titl text-left">
              Dergo email
            </h3>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-12">
          <div class="cont_frm">
            <form name="sentMessage" id="contactForm">
              <div class="control-group form-group col-md-6 first">
                <div class="controls">
                  <input type="text" class="form-control" id="name" required data-validation-required-message="Ju lutemi shkruani emrin." placeholder="Emri juaj">
                  <div class="in_ico">
                    <i class="fa fa-user"></i>
                  </div>
                  <p class="help-block"></p>
                </div>
                <div class="controls">
                  <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter an email address." placeholder="Email Address">
                  <div class="in_ico">
                    <i class="fa fa-envelope-o"></i>
                  </div>
                  <p class="help-block"></p>
                </div>
                <div class="controls">
                  <input type="number" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number." placeholder="Telefoni juaj">
                  <div class="in_ico">
                    <i class="fa fa-phone"></i>
                  </div>
                  <p class="help-block"></p>
                </div>
                <div class="controls last">
                  <input type="text" class="form-control" id="web" required data-validation-required-message="Please enter your website." placeholder="Website">
                  <div class="in_ico">
                    <i class="fa fa-pencil"></i>
                  </div>
                  <p class="help-block"></p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="control-group form-group col-md-6">
                <div class="controls">
                  <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none" placeholder="Mesazhi juaj"></textarea>
                  <div class="in_ico">
                    <i class="fa fa-paper-plane-o"></i>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
              </div>
              <div class="clearfix"></div>
              <div id="success"></div>
              <!-- For success/fail messages -->
            </form>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <div class="spacer-30"></div>
      <!-- Location Map -->
      
      <!-- /.row -->
    </section>
    <!-- Sidebar Section -->
    <section id="sidebar" class="col-md-4">
      <!-- Contact Information -->
      <div class="row">
        <div class="titl_sec">
          <div class="col-lg-12">
            <h3 class="main_titl text-left">
              Informacionet 
            </h3>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="cont_info">
          <div class="info_sec first">
            <div class="icon_box">
              <i class="fa fa-map-marker"></i>
            </div>
            <p class="infos">Rr. Haxhi Zeka</p>
          </div>
          <div class="info_sec">
            <div class="icon_box">
              <i class="fa fa-envelope-o"></i>
            </div>
            <p class="infos"><a href="mailto:weedor@realestate.com?Subject=template%20enquiry"> mozaix@gmail.com </a>
          </p>
        </div>
        <div class="info_sec">
          <div class="icon_box">
            <i class="fa fa-phone"></i>
          </div>
          <p class="infos"> <a href="tel:+112-510-360-7617"> +112 (510) 360 7617 </a> </p>
        </div>
        <div class="info_sec">
          <div class="icon_box">
            <i class="fa fa-facebook"></i>
          </div>
          <p class="infos">
          <%= link_to "https://www.facebook.com/mozaixllc", "https://www.facebook.com/mozaixllc/" %></p>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </section>
</div>
</div>