
<footer style="margin: 50px 0px 0px 0px;" id="footer">
    <!-- Copyright -->
    <div class="footer_copy_right">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <p>&copy;2016. Te gjitha te drejtat jane te rezervuara nga <a href="#"> Mozaix </a>
                    </p>
                </div>
                <div class="col-sm-6 text-right">
                    <p><a href="http://themeforest.net/user/crelegant"> Mozaix Team </a> </p>
                </div>
            </div>
        </div>
    </div>
</footer>
